@model Web410716005.ViewModels.SignUpData


@{
    ViewBag.Title = "SignUp";
}

<h2>會員註冊</h2>

@using (Html.BeginForm("SignUp", "User", FormMethod.Post))
{
    <p>@Html.DisplayNameFor(m => m.Name):@Html.TextBoxFor(m => m.Name)@Html.ValidationMessageFor(m => m.Name)</p>
    <p>@Html.DisplayNameFor(m => m.Account):@Html.TextBoxFor(m => m.Account)@Html.ValidationMessageFor(m => m.Account)</p>
    <p>@Html.DisplayNameFor(m => m.Password):@Html.TextBoxFor(m => m.Password)@Html.ValidationMessageFor(m => m.Password)</p>
    <p>@Model.Message</p>
    <input type="submit" name="name" value="註冊" />

}