
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>

<h6>姓名:<input type="text" name="name" value="" /></h6>
<h6>帳號:<input type="text" name="name" value="" /></h6>
<h6>密碼:<input type="password" name="name" value="" /></h6>
<h6>性別:<input type="radio" name="name" value="" />Male <input type="radio" name="name" value="" />Male</h6>
<h6>興趣:<input type="checkbox" name="name" value="" />游泳 <input type="checkbox" name="name" value="" />閱讀 <input type="checkbox" name="name" value="" />看電影</h6>
<h6>自我介紹:<textarea></textarea>